<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head (title='Livraison - CovidTest')"></head>
<body>
<div th:replace="fragments :: navbar"></div>

<div class="container">
  <section class="section">
    <h1 class="title">Commandes à livrer</h1>

    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th>Produits</th>
        <th>Adresse</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order: ${toDeliverOrders}">
        <td th:text="${order.id}"></td>
        <td>
          <p th:each="item: ${order.orderEntries}"><span th:text="${item.product.name}"></span> <strong th:text="'x' + ${item.quantity}"></strong></p>
        </td>
        <td th:text="${order.deliveryAddress}"></td>
        <td>
          <form th:action="@{/delivery/{id}/delivered(id = ${order.id})}" method="post">
            <input class="button" type="submit" value="Marquer comme Livrée">
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  <section class="section">
    <h1 class="title">Commandes non-assignées</h1>

    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th>Produits</th>
        <th>Adresse</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order: ${unassignedOrders}">
        <td th:text="${order.id}"></td>
        <td>
          <p th:each="item: ${order.orderEntries}"><span th:text="${item.product.name}"></span> <strong th:text="'x' + ${item.quantity}"></strong></p>
        </td>
        <td th:text="${order.deliveryAddress}"></td>
        <td>
          <form th:action="@{/delivery/{id}/assign(id = ${order.id})}" method="post">
            <input class="button" type="submit" value="M'assigner la commande">
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
</body>
</html>