<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="fragments :: head (title='Compte - CovidTest')"></head>
<body>
<div th:replace="fragments :: navbar"></div>

<div class="container">
  <section class="section">
    <h1 class="title">Bonjour <span sec:authentication="name"></span></h1>

    <div class="block" sec:authorize="!hasRole('delivery_man')">
      <h2 class="subtitle">Livraison</h2>

      <form th:action="@{/account/delivery}" method="post">
        <input class="button is-primary" type="submit" value="Devenir livreur">
      </form>

      <p class="mt-2"><span class="tag is-warning is-light">Attention !</span> Vous allez être déconnecté pour avoir accès aux fonctionnalités de livraison.</p>
    </div>

    <div class="block">
      <h2 class="subtitle">Mes Commandes</h2>

      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
          <th>ID</th>
          <th>Produits</th>
          <th>Adresse</th>
          <th>Statut</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orders}">
          <td th:text="${order.id}"></td>
          <td>
            <p th:each="item: ${order.orderEntries}"><span th:text="${item.product.name}"></span> <strong th:text="'x' + ${item.quantity}"></strong></p>
          </td>
          <td th:text="${order.deliveryAddress}"></td>
          <td th:text="${order.delivered ? 'Livrée' : 'En cours de livraison'}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
</body>
</html>